/**
 * -----------------------------------------------------------------------------
 * File: components/buttons/cta
 * -----------------------------------------------------------------------------
 */

.btn-cta {
  background-color: $color-white;
  border-radius: 4px;
  box-shadow: none;
  color: $color-primary;
  display: flex;
  @include font-regular();
  @include font-size($fs-sm);
  padding: $space-sm;
  text-decoration: none;
  transition: box-shadow .1s ease-in;

  em {
    color: $color-primary;
    display: block;
    @include font-bold();
    @include font-size($fs-md);
    margin-bottom: 2px;
  }

  svg {
    flex: 0 0 36px
  }

  > div {
    padding-left: $space-sm;
  }

  &:hover {
    box-shadow: 1px 1px 12px 0 rgba(0, 0, 0, .35);
  }

  &.is-preview {
    align-items: center;
    background-color: $color-primary;
    border-radius: 0;
    box-shadow: none;
    color: $color-white;
    transition: background-color .06s ease-in;
    em {
      color: $color-white;
    }
  }
}

.btn-cta-preview {
  background-color: $color-primary;
  bottom: 0;
  box-shadow: 0 0 4px 0 rgba(153, 153, 153, .25);
  height: 60px;
  left: 0;
  opacity: 1;
  @include responsive-prop('padding-bottom', $space-xs);
  @include responsive-prop('padding-top', $space-xs);
  position: fixed;
  transition: transform .08s ease-in, background-color .08s ease-in, color .08s ease-in;
  transform: translate(0,0);
  width: 100%;
  z-index: 201;

  > div {
    @extend %inner-block;
    align-items: center;
    height: inherit;
    display: flex;
  }

  em {
    color: $color-white;
    display: block;
    @include font-regular();
    @include font-size($fs-md);
    padding-left: $space-sm;
  }

  svg {
    flex: 0 0 20px
  }

  &:hover {
    background-color: $color-white;
    color: $color-primary;

    em {
      color: $color-primary;
    }

    svg {
      stroke: $color-primary;
    }
  }

  &.is-hidden {
    transform: translate(0,100%);
    transition: transform .08s ease-in;
  }
}