
/**
 * -----------------------------------------------------------------------------
 * File: components/buttons/store
 * -----------------------------------------------------------------------------
 */

// .btn-store {
//   @extend %btn;
//   background-color: #2c68a0;
//   border-radius: 2px;
//   color: $color-white;
//   display: inline-flex;
//   @include font-medium();
//   @include font-size($fs-sm);
//   padding: 8px 12px;
//   text-decoration: none;
//   text-transform: uppercase;
//   transition: background-color .1s ease-in-out;
//   width: auto;

//   > span {
//     display: block;
//   }

//   &:hover {
//     color: #ffed00;
//     svg {
//       stroke: #ffed00;
//     }
//   }

//   + .btn-store {
//     margin-top: $space-sm;

//     @include bp-sm() {
//       margin-left: $space-sm;
//     }
//   }
// }

.btn-store {
  @extend %btn;
  display: block;
  border-radius: 3px;
  box-shadow: none;
  border: 1px solid $color-light-grey;
  float: left;
  height: auto;
  margin: 0 12px 12px 0;
  padding: 4px;
  transition: all .06s ease-in;
  width: 128px;

  @include bp-md() {
    width: 170px;
  }

  &:hover {
    border: 1px solid transparent;
    box-shadow: 1px 1px 12px 0 rgba(153, 153, 153, .25);
  }

  img {
    display: block;
    height: auto;
    width: 100%;
  }
}