/**
 * -----------------------------------------------------------------------------
 * File: config/colors
 * -----------------------------------------------------------------------------
 */

$color-black:      #000000;
$color-white:      #ffffff;
$color-grey:       #dddddd;
$color-dark:       #120f0f;
$color-light:      #f9f9f9;
$color-light-grey: #eeeeee;
$color-primary:    #009b68;
$color-secondary:  #f27a1e;

// Notifications
$color-danger:  red;
$color-success: green;
$color-info:    blue;

