/**
 * -----------------------------------------------------------------------------
 * File: views/products
 * -----------------------------------------------------------------------------
 */

$max-width: 980px;

.products {
  margin-top: $space-giga;

  @include bp-sm() {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: $space-md;
  }

  @include bp-md() {
    grid-column-gap: $space-xl;
  }

  &.products--consumables,
  &.products--accessories,
  &.products--preview {
    margin-top: 0;
    @include bp-sm() {
      grid-template-columns: repeat(4, 1fr);
      grid-gap: $space-md !important;
    }
  }
}

.product {
  margin-top: $space-md;

  @include bp-md() {
    max-width: $max-width;
  }

  h3 {
    margin-bottom: $space-xs;
    @include bp-md() {
      margin-bottom: $space-md;
    }
  }

  .product__grid {
    @include bp-sm() {
      display: grid;
      grid-template-columns: 2fr 1fr;
      grid-column-gap: $space-xl;
    }
  }

  .product__images {

    figure {
      background-color: $color-white;
      align-items: center;
      display: flex;
      margin-bottom: $space-md;
      justify-content: center;
      padding: $space-md;
      width: auto;

      @include bp-sm() {
        display: inline-flex;
        margin-bottom: 0;
        margin-right: $space-mega;
        padding: 0 $space-md;
      }

      @include bp-md() {
        padding: 0;
      }
    }

    img {
      display: inline-block;
      max-height: 300px;
      width: auto;

      @include bp-sm() {
        max-height: 200px;
      }

      @include bp-md() {
        max-height: 300px;
      }
    }

  }

  .product__media {

    > div.media-caption {
      margin-top: $space-xs;
    }

    + .product__order {
      margin-top: $space-md;
    }
  }

  hr {
    background-color: $color-secondary;
    margin-bottom: $space-lg;
    margin-top: $space-lg;

    @include bp-md() {
      margin-bottom: $space-xl;
      margin-top: $space-xl;
    }
  }
  
  figure,
  img {
    @extend %is-responsive;
  }

  figure {
    figcaption {
      display: block;
      @include font-bold();
      padding-top: 7px;
    }
  }

  .product__shop-buttons {
    @extend %clearfix;

    .btn-primary {
      @include font-size($fs-sm);
    }
  }

  .product__order {
    max-width: 480px;

    > div {
      background-color: $color-light;
      padding: $space-xs;
    }

    h3 {
      @include bp-md() {
        margin-bottom: $space-xs;
      }
    }

    p {
      margin-bottom: $space-sm !important;
    }
  }
}