/**
 * -----------------------------------------------------------------------------
 * File: components/hr
 * -----------------------------------------------------------------------------
 */

hr,
.hr {
  background-color: $color-light;
  border: none;
  height: 2px;
  display: block;
  line-height: 1;
  width: 100%;
  @include responsive-prop('margin-bottom', $space-sm);
  @include responsive-prop('margin-top', $space-sm);

}