/**
 * -----------------------------------------------------------------------------
 * File: form/global
 * -----------------------------------------------------------------------------
 */

input[type=text],
input[type=email],
input[type=number],
input[type=password],
input[type=date],
input[type=time],
textarea,
select,
button {
	background-color: transparent;
	border-radius: 0;
	border: none;
	border-bottom: 1px solid $color-light-grey;
	color: $color-secondary;
	display: block;
	@include font-regular();
	@include font-size($fs-sm);
	padding: $space-xs 0;
	position: relative;
	outline: none !important;
	transition: border .1s ease-in;
	width: 100%;
	z-index: 1;
	-webkit-appearance: none;
	-webkit-tap-highlight-color: $color-white;

	&:focus {
		border-bottom-color: $color-primary;
	}
}
 
input[type=text],
input[type=email],
input[type=number],
input[type=password],
input[type=date],
input[type=time],
textarea,
select {
	transition: background-color .12s ease-out;
}
 
textarea {
	height: 150px;
}

input[type=text],
input[type=email],
input[type=number],
input[type=password],
input[type=date],
input[type=time] {
  &.is-disabled {
    pointer-events: none;
    cursor: not-allowed;
    margin-top: 5px;
  }
}

select {
	appearance: none;
	border: none;
	-moz-appearance: none;
	-webkit-appearance: none;
}
 
select::-ms-expand {
	display: none;
}
 
input[type=submit],
button {
	@extend %btn-primary;
	border-radius: 0;
	@include font-size($fs-sm);
	display: block;
	transition: background-color .1s ease-out;
	width: auto;
}