/**
 * -----------------------------------------------------------------------------
 * File: form/label
 * -----------------------------------------------------------------------------
 */
 
label {
  display: block;
  @include font-light();
  @include font-size($fs-xxs);
}

/**
 custom radio/checkboxes

label.form-control {
  align-items: center;
  background-color: transparent;
  border-radius: 2px;
  cursor: pointer;
  display: flex !important;
  margin-bottom: 0;
  margin-right: 16px;
  justify-content: center;
  padding: 8px 0;
  text-align: center;
  width: 48px;
}

input[type="radio"]:checked + label.form-control,
input[type="checkbox"]:checked + label.form-control {
  background-color: $color-black;
  border: 2px solid $color-black;
  color: $color-white;
}
 **/
