/**
 * -----------------------------------------------------------------------------
 * File: form/validation
 * -----------------------------------------------------------------------------
 */

.has-error {
  color: $color-danger;
  
  label {
    color: $color-danger;
  }
}

.error-message {
  color: $color-danger;
  @include font-size($fs-sm);
  margin: $space-sm 0;
}
