/**
 * -----------------------------------------------------------------------------
 * File: typo/sizes
 * -----------------------------------------------------------------------------
 *
 */

$fs-tiny: (
  null: (11px,1.4),
  sm:   (11px,1.4),
  md:   (12px,1.4),
  lg:   (12px,1.4),
);

$fs-xxs: (
  null: (13px,1.4),
  sm:   (13px,1.4),
  md:   (15px,1.4),
  lg:   (15px,1.4),
);

$fs-xs: (
  null: (14px,1.4),
  sm:   (14px,1.4),
  md:   (16px,1.4),
  lg:   (16px,1.4),
);

$fs-sm: (
  null: (16px,1.5),
  sm:   (16px,1.5),
  md:   (16px,1.5),
  lg:   (16px,1.5),
);

$fs-md: (
  null: (20px,1.22),
  sm:   (20px,1.22),
  md:   (24px,1.22),
  lg:   (24px,1.22),
);

$fs-lg: (
  null: (26px,1.25),
  sm:   (26px,1.25),
  md:   (32px,1.25),
  lg:   (32px,1.25),
);