/**
 * -----------------------------------------------------------------------------
 * File: component/blocks
 * -----------------------------------------------------------------------------
 *
 */

%inner-block,
.inner-block {
  margin-left: auto;
  margin-right: auto;
  max-width: 400px;
  padding: 0 $space-md;
  position: relative;

  @include bp-sm() {
    max-width: $site-max-width;
  }

  @include bp-md() {
    padding: 0 $space-xl;
  }
}
